<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="contact">
    <header class="header__horizontal">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav class="index__header__horizontal--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram-square"></i></a>

        </nav>
    </header>
    <main class="contact__main">
        <h1>CONTACT //</h1>
        <section>
            <article>
                <h2>WE ARE HERE</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1656472610902!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </section>
        <section>
            <h2 class="contact__main__h2">CONTACT INFO</h2>
            <article>
                <h3>MANAGMENT | Karen Blanche</h3>
                <p>email: <a href="">info@mysite.com</a>  <br>
                   phone: <a href="">15-125-156</a></p>
            </article>
            <article>
                <h3>BOOKING | Daniel Ku</h3>
                <p>email: <a href="">info@mysite.com</a>  <br>
                    phone: <a href="">15-125-156</a></p>
            </article>
            <article>
                <h3>LABEL | Wix Records, Jake Coldham</h3>
                <p>email: <a href="">info@mysite.com</a>  <br>
                    phone: <a href="">15-125-156</a></p>
            </article>
            <article>
                <h3>WEB DESIGNER | FORMAR fundation & Fabian Coseglia</h3>
                <p>email: <a href="">info@mysite.com</a>  <br>
                    phone: <a href="">15-125-156</a></p>
            </article>
        </section>
    </main>
</body>
</html>