<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="music">
    <header class="header__horizontal__music">
        <nav class="header_horizontal--menu">
            <ul class="header__horizontal--ul">
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav class="index__header__horizontal--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram-square"></i></a>

        </nav>
    </header>
    <main>
        <h1>MUSIC //</h1>
        <section>
            <article>
            <h4>Direct Links</h4>
            <ul class="music__section--menu">
                <li><a href="">Album</a></li>
                <li><a href="#organicLove">Video: Organic Love</a></li>
                <li><a href="#streetLight">Video: Street Light</a></li>
            </ul>
            </article>
        </section>
        <section>
            <article>
                <h2>ALBUM<br>TWIST IN MY REALITY</h2>
                <DIV><img src="/img/emilia-play-list.png" alt=""></DIV>
                <ol type="1">
                    <li class="music__li">▸ Organic Love | 02:40</li>
                    <li class="music__li">▸ Tiwst In My Reality | 02:10</li>
                    <li class="music__li">▸ Street Light | 03:28</li>
                    <li class="music__li">▸ Love Don't Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a class="music__gotop" href="#header__horizontal__music">Go Top</a>
            </article>
            <article>
                <h3 id="organicLove">VIDEO <br>ORGANIC LOVE</h3>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE  <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART,<br>
                    Wix Films LTD.</p>
                <a class="music__gotop" href="#">Go Top</a>
            </article>
            <article>
                <h3 id="streetLight">VIDEO <br>STREET LIGHT</h3>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE  <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART,<br>
                    Wix Films LTD.</p>
                <a class="music__gotop" href="#">Go Top</a>
            </article>
        </section>
    </main>
</body>
</html>