body.index{
    background-image: url(/img/emilia-home.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right -90px;
}

.index h1{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 120px;
    
}

.index h2{
    font-family: 'Work Sans';
    margin-left: 30px;
    letter-spacing: 2px;
    font-weight: normal;
    opacity: 1;
    margin-top: 80px;
    font-size: 28px;
    
}

.index li{
    margin: 10px;
}